@define-color background #11111B;
@define-color foreground #B4BEFE;
@define-color yellow #FFCB6C;
@define-color red #FF5370;

* {
  border: none;
  background: transparent;
  font-family: "SFProDisplay";
  font-size: 12px;
}

tooltip {
  border: 1px solid @foreground;
  border-radius: 10px;
  background-color: @background;
}

tooltip label {
  font-size: 14px;
  color: @foreground;
  padding: 0 12px;
}

#custom-launcher,
#workspaces {
  border-radius: 10px;
  background-color: @background;
  color: @foreground;
  padding: 2px 0;
}

#custom-launcher,
#workspaces {
  margin: 12px 0 0 15px;
}

#custom-launcher {
  font-size: 20px;
  padding-right: 7px;
  color: @foreground;
}

#workspaces {
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces button {
  background: transparent;
  color: @foreground;
}

#custom-date {
  font-size: 16px;
  border-radius: 10px;
  background-color: @background;
  color: @foreground;
  padding: 2px 16px;
  margin: 12px 0 0 0;
}

.modules-right {
  border-radius: 10px;
  background-color: @background;
  color: @foreground;
  padding: 2px 0 2px 16px;
  margin: 12px 15px 0 0;
}

#tray,
#network,
#pulseaudio {
  margin-right: 12px;
}

#battery {
  margin-right: 22px;
}

#network.wifi {
  margin-right: 17px;
}

#tray menu {
  border: 1px solid @foreground;
  background-color: @background;
  color: @foreground;
}

#battery {
  font-size: 20px;
}

#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @red;
}

#network {
  font-size: 20px;
}

#pulseaudio {
  padding-left: 2px;
  font-size: 15px;
}
